
body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    //color: #FBFEF9;
    margin: 0;
}

#logo {
    height: 36px;
}

header::before, header::after {
    content: "";
    display: table;
}

header::selection {
    //background-color: #0C4B33;
}

header {
    //background: #0C4B33;
    overflow: hidden;
    margin: 0;
    padding: 10px 0 6px;
    position: relative;
}

header::after {
    clear: both;
}

/*header nav {
    background-color: #0C4B33;
}*/

header nav ul {
    display: flex;
    align-items: center;
    gap: 30pt;
    float: left;
}

header nav li {
    margin: 0;
    border: 0;
    text-align: left;

    font-family: "Noto Sans Mono", sans-serif;
    font-size: 1.3rem;
    display: block;
    //font-weight: 700;
    line-height: 16px;
}

header nav a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 10pt;
    border-radius: 14px;
    transition: background-color 0.3s;
}

header nav a:visited {
    color: #000000;
}

header nav a:hover {
    //color: #C9F0DD;
    background-color: #E3E3E3;
    transition: background-color 0.3s;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
}

header .user {
    float:right;
    display: flex;
    align-items: center;
    padding-right: 30pt;
}

header .user .login {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 10pt;
    border-radius: 14px;
    background-color: #E3E3E3;
    transition: background-color 0.3s;
}

header .user .login:hover {
    background-color: #D6D6D6;
    transition: background-color 0.3s;
}

header .user .register {
    color: #FBFEF9;
    text-decoration: none;
    display: block;
    padding: 10pt;
    border-radius: 14px;
    background-color: #8000ff;
    transition: background-color 0.3s;
}

header .user .register:hover {
    background-color: #6C00D9;
    transition: background-color 0.3s;
}

header .logo {
    float: left;
}

