.grid {
    column-count: 4;

}

.config {
    break-inside: avoid;
    page-break-inside: avoid;
    max-width: 600px;
    max-height: 800px;
    padding: 1rem;

    box-sizing: border-box;
}

.config img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    border-radius: 14px;
}